# Git
.git
*.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.dev.yml
docker-compose-dev.yml
.env

# Python
*.o
*.so
.cache
__pycache__/
build/
dist/
*.ipynb
.idea/
.ipynb_checkpoints/*
*.py[co]
*.DS_*
celerybeat-schedule

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
venv


# Data
db
